<nav class="navbar navbar-expand-sm button-navbar-style text-navbar-style">
  <a routerLink="/home/{{ userId }}" class="text-navbar-movie-style">
    <i class="fas fa-film fa-2x" style="padding-right: 10px"></i> Movies-App</a
  >
  <div class="collapse navbar-collapse text-navbar-style" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <div class="items-wrapper">
        <form class="form-inline d-flex justify-content-center md-form form-sm">
          <input class="form-control form-control-md mr-3 w-95" type="text" placeholder="Search" aria-label="Search" name="searchbar" [(ngModel)]="searchword"(input)="searchThis()">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
      </div>
      <div>
        <li class="nav-right-icon-vert">
          <a routerLink="/home/{{ userId }}" class="user-icon" (click)="changeToMovie()">
            <i class="fas fa-video fa-2x"></i>
            <div>All Movies</div></a
          >
        </li>
      </div>

      <div>
        <li class="nav-right-icon-vert">
          <a routerLink="/home/{{ userId }}" class="user-icon" (click)="changeToTv()">
            <i class="fas fa-tv fa-2x"></i>
            <div>All TV Shows</div></a
          >
        </li>
      </div>




      <div>
        <li class="nav-right-icon-vert">
          <a routerLink="/profile/{{ userId }}" class="user-icon"
            ><i class="fas fa-user-circle fa-2x"></i>
            <div>user profile</div></a
          >
        </li>
      </div>

      <li class="nav-right-icon-vert">
        <a class="signout-icon" (click)="logOutUser()"
          ><i class="fas fa-sign-out-alt fa-2x"></i>
          <div>log out</div>
          <output></output
        ></a>
      </li>




    </ul>
  </div>
</nav>
