.button-navbar-style{
    background-color:#2c2c2c ;
    padding-bottom: 0%;
}

.text-navbar-movie-style{
    color:#ffa31a;
    font-size: 25px;
    padding-left: 10px;
    display: flex;
    text-align: middle;
}



.text-navbar-style{
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding-left: 10px;
}



.nav-right-icon-vert{
    padding-top: 14px;
    padding-right: 45px;
}
.fa-search{
    font-size: x-large;
    opacity: 70%;
}
.fa-search:hover{
    opacity: 100%;
}


.user-icon{
    
    color: rgb(255, 255, 255);
    padding-right: 20px;
    opacity: 70%;
    padding-left: 30px;
    font-size: small;
}

.user-icon:hover{
    opacity:100%;
}

.signout-icon{
    color: rgb(255, 255, 255);
    padding-right: 20px;
    opacity: 70%;
    padding-left: 15px;
    font-size: small;
}

.signout-icon:hover{
    opacity:100%;
}
.form-control{
    width: 300px;
}
.items-wrapper{
    padding-top: 16px;
    padding-right: 23px;
}



.navbar-custom .navbar-text {
    color: green;
}