.button-navbar-style{
    background-color:#2c2c2c ;
}


.text-navbar-style{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 10px;
}

.text-navbar-style{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 10px;
}

.navbar-custom .navbar-text {
    color: green;
}