.footer-style{
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


.git-icon{
    color: rgb(255, 255, 255);
    opacity: 70%;
}


.git-icon:hover{
    opacity:100%;

}
