.profile {
  padding: 70px 100px;
  color: white;
}

.username {
  padding: 30px 10px 10px 10px;
}

.contactInfo {
  padding: 20px 10px 10px 10px;
}

.basicInfo {
  padding: 10px 10px 10px 10px;
}

.workInfo {
  padding: 10px 10px 10px 10px;
}

.label {
  font-weight: 700;
  opacity: 80%;
}

.infohead {
  color: rgb(95, 93, 93);
  font-weight: 700;
  font-size: small;
}

.location {
  font-size: 12px;
  opacity: 60%;
  margin-top: 0.25rem;
  i {
    margin-right: 0.25rem;
  }
}
