.demo-content{
    padding: 5px;
    font-size: 18px;
    background: black;
    margin-bottom: 15px;
    border-radius: 8px;
}
.demo-content.bg-alt{
    background: black;
    height: 673px;
}
.rowy{
    margin: 10px;
    height: 644px;
}

.rowy1{
    margin: 10px;
    background-color: #ffa31a;
    color:white;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 320px;
}
.rowy2{
    margin: 10px;
    background-color: #ffa31a;
    color:white;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 315px;
}
#applyCSS > * {
    align-content: center;
}
.form-control{
    width: 300px;
}
.btn{
    width: 230px;
}
.blacky{
    color: black;
}
.rowyspecial{
    margin: 10px;
    background-color: black;
    color:white;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 304px;
}
.rowynormal{
    margin: 10px;
    background-color: #ffa31a;
    color:white;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 160px;
}
.slide{
    width: 200px;
    height: 450px;
}